@font-face {
  font-family: 'fontname';
  src: url('../fonts/jost/Jost-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'fontname';
  src: url('../fonts/jost/Jost-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'fontname';
  src: url('../fonts/jost/Jost-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../img/bg-intro.png');
}
